// GENERIC STYLES
body {
  font-family: $copy;
  font-weight: $normal;
  color: $black;
  font-size: 16px;
}
a {
  text-decoration: none;
  color: $grey;
  @include animate(color, 0.3s);
  &:hover,
  &:focus {
    color: $carbon;
  } //&:hover, &:focus
} //a
.background-image {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

// CONTENT LAYOUT
.content-area {
  // CONTENT HEADER
  .content-header {
    .content-header-wrapper {
      @include container();
    } //.content-header-wrapper
  } //.content-header

    // CONTENT SECTION
  .content-body {
    .content-body-wrapper {
      @include container();
    } //.content-body-wrapper
  } //.content-body

  // CONTENT FOOTER
  .content-footer {
    .content-footer-wrapper {
      @include container();
    } //.content-footer-wrapper
  } //.content-footer




} //.content-area