.blog {

  // BUTTON {
  .button-container {
    margin: 20px auto 0px;
  } //.button-container

  // Ajax Loading
  .btn-sunset-load {
    text-align: center;
    text-transform: lowercase;
    font-weight: $thin;
    display: block;
    color: #222222;
    font-size: 22px;
    font-size: 1.375rem;
    margin: 0px auto;
    cursor: pointer;
    width: 200px;
    opacity: 0.5;
    @include animate( opacity, 320ms );
    &:hover,
    &:focus,
    &.loading {
      opacity: 1;
    }
    &.loading {
      cursor: default;
    }
    span {
      display: block;
    }
    .sunset-loading {
      font-family: 'Fontawesome';
      &:before {
        content: '\f021';
      } //&:before
    }//.sunset-loading
  } //.btn-sunset-load

  .sunset-posts-container {
    padding-top: 40px;
    article {
      @include animate(all, 320ms);
      @include transform(translateY(100px));
      opacity: 0;
      &.reveal {
        @include transform(translateY(0));
        opacity: 1;
      } //&.reveal
    } //article
  } //.sunset-posts-container


} //.blog

.spin {
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
} //.spin


















