/* STANDARD POST FORMAT */
.blog-section {
  // HEADER
  .content-header-wrapper {
    padding: 2em 0px;
    display: block;
    .entry-title {
      display: block;
      text-align: center;
      font-weight: $thin;
      text-transform: uppercase;
      font-size: 40px;
      font-size: 2.5rem;
      padding: 0.5em 0px;
      color: $carbon;
      @include single-text-shadow(0px, 1px, 0px, true, $midsilver);
      a {
        text-decoration: none;
        color: $darkgrey;
        @include animate(color, 0.3s);
        &:hover,
        &:focus {
          text-decoration: none;
          color: $black;
        } //&:hover....
      } //a
    } //.entry-title
    .entry-meta {
      display: block;
      width: auto;
      padding: 0.5em 0px;
      margin: 0px auto !important;
      text-align: center;
    } //.entry-meta
  } //.content-header-wrapper
  // CONTENT BODY
  .content-body-wrapper {
    .standard-featured-link { //a
      display: block;
      position: relative;
      &:hover,
      &:focus {
        .standard-featured-image {
          &:after {
            @include animate(all, 0.3s);
            background-color: rgba($black, 0);
          } //&:after
        } //.standard-featured-image
      } //&:hover, &:focus
      // IMAGE
      .standard-featured-image {
        display: block;
        height: 300px;
        position: relative;
        &:after {
          content: '';
          position: absolute;
          display: block;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          @include animate(all, 0.3s);
          background-color: rgba($black, 0.2);
          box-shadow: inset 0px 0px 15px rgba($black, 0.3);
        } //&:after
      } //.standard-featured-image
    } //.standard-featured-link
    // EXCERPT
    .entry-excerpt {
      margin: 2em 0px;
      line-height: 1.5;
      letter-spacing: 0.02em;
    }
    // BUTTON {
      .button-container {
        text-align: center;
        text-transform: uppercase;
        font-size: 14px;
        font-size: 0.875rem;
        font-weight: $thin;
        color: $lightgrey;
        padding: 10px 15px;
        border-radius: 4px;
        border: 1px solid $lightsilver;
        width: 100px;
        margin: 0px auto;
        @include animate(border, 0.5s);
        &:hover,
        &:focus {
          cursor: pointer;
          border: 1px solid $carbon;
          @include animate(border, 0.5s);
          .btn-default {
            color: $black;
          } //.btn-default
        } //&:hover, &:focus
      } //.button-container
  } //.content-body-wrapper
  // FOOTER
  .content-footer-wrapper {
    margin-top: 1em;
    padding: 1em 0px;
    border-bottom: 4px solid $lightsilver;
    a {
      display: inline-block;
      text-transform: uppercase;
      padding: 0px 4px;
      font-size: 12px;
      font-size: 0.75rem;
    } //a
    .footer-tags {
      display: inline;
      float: left;
      @include animate(all, 0.8s);
      &:hover,
      &:focus {
        .fa-tag {
          color: $black;
          cursor: pointer;
          @include animate(all, 0.8s);
        } //.fa-tag
      } //.footer-tags
      .fa-tag {
        margin-right: 5px;
        color: $darksilver;
        @include animate(all, 0.8s);
        &:hover,
        &:focus {
          color: $black;
          cursor: pointer;
          @include animate(all, 0.8s);
        } //&:hover, &:focus
      } //.fa-tag
    } //.footer-tags
    .footer-comments {
      display: inline;
      float: right;
      .fa-commenting {
        margin-left: 0.5em;
      } //.fa-commenting
    } //.footer-comments
  } //.content-footer-wrapper

} //.blog-section


/* IMAGE POST FORMAT */
.sunset-format-image {
  margin-top: 50px;
  .content-header-wrapper {
    position: relative;
    height: 600px;
    // TITLE
    .entry-title {
      color: #FFFFFF;
      @include single-text-shadow(0px, 1px, 0px, true, $carbon);
      a {
        color: $lightsilver;
        &:hover,
        &:focus {
          color: $white;
        } //&:hover....
      } //a
    } //.entry-title
    // META
    .entry-meta {
      color: $white;
      font-size: 14px;
      font-size: 0.875rem;
      @include single-text-shadow(0px, 1px, 0px, true, $carbon);
      .posted-on,
      .posted-in {
        a {
          color: $midsilver;
          font-weight: $normal;
          &:hover,
          &:focus {
            color: $white;
          }
        }
      } //.posted-on
    } //.entry-meta
    // EXCERPT / IMAGE CAPTION
    .image-caption {
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      color: $snow;
      text-align: center;
      padding: 0px 4em;
      @include background-image(linear-gradient(top, rgba(2,0,0,0) 0%,rgba(0,0,0,0.5) 100%));
      @include single-text-shadow(0px, 1px, 0px, true, $carbon);
      p {
        line-height: 1.5;
        margin: 20px 0px;
      } //p
    } //.entry-excerpt
  } //.content-header-wrapper
  // FOOTER
  .content-footer-wrapper {
    margin-top: 0px;
  }
} //.sunset-format-image

/* IMAGE POST FORMAT */
.sunset-format-audio {
  .content-header-wrapper {
    padding-bottom: 0px;
    .entry-title {
      display: inline-block;
      font-size: 30px;
      font-size: 1.875rem;
      margin-right: 0.5em;
    } //.entry-title
    .entry-meta {
      display: inline-block;
    }
  } //.content-header-wrapper

  .content-body-wrapper {
    iframe {
      display: block;
      width: 100%;
      height: 80px;
      margin: 0px auto;
    }
  } //.content-body-wrapper

  .content-footer-wrapper {
    padding: 0px;
  } //.content-footer-wrapper
} //sunset-format-audio

/* IMAGE POST FORMAT */
.sunset-format-video {
  .content-header-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 0px;
    // VIDEO
    iframe {
      width: 100%;
      height: 600px;
      // margin: 0.5vw auto;
      // TITLE
    } //iframe
    .entry-title {
      display: block;
      float: none;
      width: 100%;
      padding-bottom: 5px;
      font-size: 30px;
      font-size: 1.875rem;
    } //.entry-title
    .entry-meta {
      float: none;
      display: block;
    } //.entry-meta
  } //.content-header-wrapper
  .content-body-wrapper {
    margin-top: 0.5em;
    .entry-excerpt {
      margin-top: 0px;
    }
  }



} //.sunset-format-video


















