/* STANDARD POST FORMAT */
.blog-section {
  // HEADER
  .content-header-wrapper {
    article {
      padding: 40px 0px;
    }
    padding: 2em 0px;
    display: block;
    .entry-title {
      display: block;
      text-align: center;
      font-weight: $thin;
      text-transform: uppercase;
      font-size: 40px;
      font-size: 2.5rem;
      padding: 0.5em 0px;
      color: $carbon;
      @include single-text-shadow(0px, 1px, 0px, true, $midsilver);
      a {
        text-decoration: none;
        color: $darkgrey;
        @include animate(color, 0.3s);
        &:hover,
        &:focus {
          text-decoration: none;
          color: $black;
        } //&:hover....
      } //a
    } //.entry-title
    .entry-meta {
      display: block;
      width: auto;
      padding: 0.5em 0px;
      margin: 0px auto !important;
      text-align: center;
    } //.entry-meta
  } //.content-header-wrapper
  // CONTENT BODY
  .content-body-wrapper {
    .standard-featured-link { //a
      display: block;
      position: relative;
      &:hover,
      &:focus {
        .standard-featured-image {
          &:after {
            @include animate(all, 0.3s);
            background-color: rgba($black, 0);
          } //&:after
        } //.standard-featured-image
      } //&:hover, &:focus
      // IMAGE
      .standard-featured-image {
        display: block;
        height: 300px;
        position: relative;
        &:after {
          content: '';
          position: absolute;
          display: block;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          @include animate(all, 0.3s);
          background-color: rgba($black, 0.2);
          box-shadow: inset 0px 0px 15px rgba($black, 0.3);
        } //&:after
      } //.standard-featured-image
    } //.standard-featured-link
    // EXCERPT
    .entry-excerpt {
      margin: 2em 0px;
      line-height: 1.5;
      letter-spacing: 0.02em;
    }
    // BUTTON {
      .button-container {
        text-align: center;
        text-transform: uppercase;
        font-size: 14px;
        font-size: 0.875rem;
        font-weight: $thin;
        color: $lightgrey;
        padding: 10px 15px;
        border-radius: 4px;
        border: 1px solid $lightsilver;
        width: 150px;
        margin: 0px auto;
        @include animate(border, 0.5s);
        &:hover,
        &:focus {
          cursor: pointer;
          border: 1px solid $carbon;
          @include animate(border, 0.5s);
          .btn-default {
            color: $black;
          } //.btn-default
        } //&:hover, &:focus
      } //.button-container
  } //.content-body-wrapper
  // FOOTER
  .content-footer-wrapper {
    margin-top: 1em;
    padding: 1em 0px;
    border-bottom: 4px solid $lightsilver;
    a {
      display: inline-block;
      text-transform: uppercase;
      padding: 0px 4px;
      font-size: 12px;
      font-size: 0.75rem;
    } //a
    .footer-tags {
      display: inline;
      float: left;
      @include animate(all, 0.8s);
      &:hover,
      &:focus {
        .fa-tag {
          color: $black;
          cursor: pointer;
          @include animate(all, 0.8s);
        } //.fa-tag
      } //.footer-tags
      .fa-tag {
        margin-right: 5px;
        color: $darksilver;
        @include animate(all, 0.8s);
        &:hover,
        &:focus {
          color: $black;
          cursor: pointer;
          @include animate(all, 0.8s);
        } //&:hover, &:focus
      } //.fa-tag
    } //.footer-tags
    .footer-comments {
      display: inline;
      float: right;
      .fa-commenting {
        margin-left: 0.5em;
      } //.fa-commenting
    } //.footer-comments
  } //.content-footer-wrapper
} //.blog-section

/* IMAGE POST FORMAT */
.sunset-format-image {
  margin-top: 50px;
  .content-header-wrapper {
    position: relative;
    height: 600px;
    // TITLE
    .entry-title {
      color: #FFFFFF;
      @include single-text-shadow(0px, 1px, 0px, true, $carbon);
      a {
        color: $lightsilver;
        &:hover,
        &:focus {
          color: $white;
        } //&:hover....
      } //a
    } //.entry-title
    // META
    .entry-meta {
      color: $white;
      font-size: 14px;
      font-size: 0.875rem;
      @include single-text-shadow(0px, 1px, 0px, true, $carbon);
      .posted-on,
      .posted-in {
        a {
          color: $midsilver;
          font-weight: $normal;
          &:hover,
          &:focus {
            color: $white;
          }
        }
      } //.posted-on
    } //.entry-meta
    // EXCERPT / IMAGE CAPTION
    .image-caption {
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      color: $snow;
      text-align: center;
      padding: 0px 4em;
      @include background-image(linear-gradient(top, rgba(2,0,0,0) 0%,rgba(0,0,0,0.5) 100%));
      @include single-text-shadow(0px, 1px, 0px, true, $carbon);
      p {
        line-height: 1.5;
        margin: 20px 0px;
      } //p
    } //.image-caption
  } //.content-header-wrapper
  // FOOTER
  .content-footer-wrapper {
    margin-top: 0px;
  }
} //.sunset-format-image

/* IMAGE POST FORMAT */
.sunset-format-audio {
  .content-header-wrapper {
    padding-bottom: 0px;
    .entry-title {
      display: inline-block;
      font-size: 30px;
      font-size: 1.875rem;
      margin-right: 0.5em;
    } //.entry-title
    .entry-meta {
      display: inline-block;
    }
  } //.content-header-wrapper

  .content-body-wrapper {
    iframe {
      display: block;
      width: 100%;
      height: 80px;
      margin: 0px auto;
    }
  } //.content-body-wrapper

  .content-footer-wrapper {
    padding: 0px;
  } //.content-footer-wrapper
} //sunset-format-audio

/* VIDEO POST FORMAT */
.sunset-format-video {
  // HEADER
  .content-header-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 0px;
    // VIDEO
    iframe {
      width: 100%;
      height: 600px;
      // margin: 0.5vw auto;
      // TITLE
    } //iframe
    .entry-title {
      display: block;
      float: none;
      width: 100%;
      padding-bottom: 5px;
      font-size: 30px;
      font-size: 1.875rem;
    } //.entry-title
    .entry-meta {
      float: none;
      display: block;
    } //.entry-meta
  } //.content-header-wrapper
  // CONTENT
  .content-body-wrapper {
    margin-top: 0.5em;
    .entry-excerpt {
      margin-top: 0px;
    }
  }
} //.sunset-format-video

/* GALLERY POST FORMAT */
.sunset-format-gallery {
  .content-header-wrapper {
    .glide {
      .glide__arrows {
        margin-left: 0px;
        .container {
          display: block;
          background-color: rgba(0, 0, 0, 0);
          padding: 10px 20px;
          line-height: 0;
          margin-right: -80px;
          display: relative;
          @include animate(background-color, 320ms);
          .thumbnail-container {
            position: absolute;
            display: block;
            height: 73px;
            width: 73px;
            background-color: #999;
            @include border-radius(50%);
            @include transform(scale(0));
            @include animate(transform, 320ms);
          } //.thumbnail-container
          &.prev {
            padding-right: 90px;
            @include border-top-right-radius(80px);
            @include border-bottom-right-radius(80px);
            .thumbnail-container {
              right: 1px;
              top: 1px;
            } //.thumbnail-container
          } //&.prev
          &.next {
            padding-left: 90px;
            @include border-top-left-radius(80px);
            @include border-bottom-left-radius(80px);
            .thumbnail-container {
              left: 1px;
              top: 1px;
            } //.thumbnail-container
          } //&.next
          &:hover {
            background-color: rgba(0, 0, 0, 0.9);
            @include animate(background-color, 320ms);
            .thumbnail-container {
              @include transform(scale(1));
              @include animate(transform, 320ms);
            } // .thumbnail-container
          } // &:hover, &:focus
        } // .container
        .glide__arrow {
          border: none;
          .fa {
            margin: 0px;
            font-size: 55px;
            font-weight: 100;
            color: rgba($white, 0.3);
            @include animate(color, 0.5s);
            &:hover,
            &:focus {
              color: rgba($white, 0.7);
            } //&:hover, &:focus
          } //.fa
        } //.glide__arrow
      } //.glide__arrows
    } //.glide

    .entry-title {
      display: block;
      float: none;
      width: 100%;
      padding-bottom: 5px;
      font-size: 30px;
      font-size: 1.875rem;
    } //.entry-title
    .entry-meta {
      float: none;
      display: block;
    } //.entry-meta

    // EXCERPT / IMAGE CAPTION
    .glide__wrapper {
      .glide__track { //ul
        padding-bottom: 0px !important;
        .glide__slide { //li
          position: relative;
          display: block;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
            margin: 0px !important;
          } //img
          .image-caption {
            position: absolute;
            display: block;
            left: 0;
            bottom: 0px;
            right: 0;
            color: $snow;
            text-align: center;
            padding: 0px 4em;
            margin: 0px;
            @include background-image(linear-gradient(top,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.5) 100%));
            @include single-text-shadow(0px, 1px, 0px, true, $carbon);
            p {
              line-height: 1.5;
              margin: 20px 0px;
              font-size: 14px;
              font-size: 0.875rem;
            } //p
          } //.image-caption
        } //.glide__slide
      } //.glide__track
    } //.glide__wrapper
    & .image-caption {
      @include animate(transform, 750ms);
      @include transform(translateY(100%));
    } //& .image-caption
    &:hover {
      & .image-caption {
        @include transform(translateY(0%));
      } //& .image-caption
    } //&:hover
  } //.content-header-wrapper
} //.sunset-format-gallery

/* QUOTE POST FORMAT */
.sunset-format-quote {
  // THE QUOTE
  .the-quote {
    display: block;
    margin-top: 2em;
    margin-bottom: 1em;
    @include breakpoint(740px) {
      @include container(740px);
    }
    .quote-content {
      text-align: center;
      font-weight: $thin;
      text-transform: uppercase;
      font-size: 40px;
      font-size: 2.5rem;
      color: $midsilver;
      @include single-text-shadow(0px, 1px, 0px, true, $carbon);
      line-height: 1.2;
      letter-spacing: 0.04em;

      &:before {
        font-family: Fontawesome;
        content: '\f10d';
        font-size: 30px;
        color: $lightsilver;
        @include single-text-shadow(0px, 1px, 0px, true, $carbon);
        display: inline-block;
        position: relative;
      } //&:before
      &:after {
        font-family: Fontawesome;
        content: '\f10e';
        font-size: 30px;
        color: $lightsilver;
        @include single-text-shadow(0px, 1px, 0px, true, $carbon);
        display: inline-block;
        position: relative;
      } //&:after
    } //.quote-content
  } //.the-quote
  // THE AUTHOR
  .the-quote-author {
    .quote-author {
      display: block;
      text-align: center;
      font-size: 22px;
      font-size: 1.375rem;
      font-weight: $bold;
      color: $carbon;
      letter-spacing: 0.06em;
    } //.quote-author
  } //.the-quote-author
} //.sunset-format-quote

/* LINK POST FORMAT */
.sunset-format-link {
  .entry-title {
    // display: block;
    font-size: 30px;
    font-size: 1.875rem;
    // margin-bottom: 1em;
    a {
      // display: block;
      .link-icon {
        display: block;
        color: $white;
        width: 40px;
        height: 40px;
        margin: 10px auto 0px;
        font-size: 30px;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.6);
        line-height: 1;
        padding: 10px;
        @include animate(all, 0.5s);
        &:hover {
          background-color: rgba($red, 0.8);
        }
        .fa {
          margin-top: 4px;
        } //.fa
      } //.link-icon
    } //a
  } //&.entry-title
} //.sunset-format-link

/* ASIDE POST FORMAT */
.sunset-format-aside {
  margin-top: 2em;
  .content-header-wrapper {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 1em;
    .aside-image {
      @include span(3);
      .aside-featured-image {
        display: block;
        margin: 0px auto -20px;
        z-index: 100;
        text-align: center;
        width: 170px;
        height: 170px;
        border-radius: 50%;
      }
    } //.aside-image
    .aside-content {
      @include span (8 at 4);
      .entry-meta {
        text-align: left;
        font-size: 13px;
        font-size: 0.8125rem;
      } //.entry-meta
      .entry-excerpt {
        margin-top: 1em;
        font-size: 15px;
        font-size: 0.9375rem;
        p {
          line-height: 2;
        }
      } //.entry-excerpt
    } //.aside-content
  } //.content-header-wrapper
  .content-footer-wrapper {
    border-bottom: none;
    margin-top: 0px;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 1em;
    .footer-phantom {
      @include span(3);
      display: block;
      border: 1px solid rgba(0, 0, 0, 0);
    }
    .footer-content {
      @include span(8 at 4);
    }
  } //.content-footer-wrapper
} //.sunset-format-aside











